a{
    text-decoration: none;
}
.div-art{
    display: grid;
    row-gap: 30px;
    justify-content: center;
}
.creative-cloud-adv{
    background-color: aqua;
    display: grid;
}
.creative-cloud-adv h2{
    display: flex;
    justify-content: center;
    font-size: 26pt;
}
.creative-cloud-adv p{
    font-size: 16pt;
    display: flex;
    justify-content: center;
}

.ativos-gratis{
    display: flex;
}
.ativos-gratis-img{
    height: 300px;
}
.ativos-gratis img{
    height: 300px;
    width: 700px;
    object-fit: cover;
}

.titulo-ativos{
    display: block;
    font-size: 12pt;
    color: rgb(61, 61, 61);
}
.desc-ativos-gratis{
    font-weight: 500;
    background-color: white;
    width: 270px;
    padding: 80px 60px;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
}
.desc-ativos{
    display: flex;
    font-size: 20pt;
}

.bottom-side-art{
    display: flex;
}
.first-art{
    border-radius: 20px;
}
.second-art{
    margin-right: 20px;
    display: grid;
    width: 350px;
    border-radius: 5px;
}
.edicao-fotos {
    padding: 20px;
    background-color: white;
    margin-top: 0;
}
.edicao-fotos-img{
    height: 200px;
    overflow: hidden;
    object-position: 50% 50%;
}
.edicao-fotos-img img{
    height: 500px;
}
.edicao-fotos h2{
    margin: 0;
    justify-content: left;
    font-size: 12pt;
    color: rgb(78, 78, 78);
}
.edicao-fotos p{
    margin-bottom: 0;
    font-size: 12pt;
    font-weight: bold;
}
.button-ver-mais{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.ver-mais{
    padding: 7px 15px;
    display: flex;
    justify-content: center;
    color: rgb(65, 65, 65);
    background: none;
    border: 2px solid rgb(63, 63, 63);
    border-radius: 50px;
}