.perguntas-frequentes {
    display: grid;
    justify-content: center;
    grid-template-columns: 1200px;
    margin-top: 50px;
}
.perguntas-frequentes h2{
    display: flex;
    justify-content: center;
    font-size: 24pt;
    color: rgb(92, 91, 91);
    margin-bottom: 50px;
}
.perguntas{
    display: grid;
    grid-template-columns: 20px 1fr;
    padding: 20px 0px;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    font-weight: 600;
}
.perguntas img{
    height: 10px;
    position: relative;
    top: 6px;
    right: 2px;
}
.right-side-perguntas:hover > .resposta{
    display: block;
}
.resposta{
    padding: 30px 0 20px 0;
    display: none;
    color: rgb(94, 94, 94);
}
.resposta a{
    color: rgb(4, 121, 255);
}