header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
}
.top-header{
    font-size: 10pt;
}
.division-nav-login{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(175, 175, 175);
}
.nav-name-grid{
    display: grid;
    grid-template-columns: 100px 150px 80px 70px 140px 160px 110px;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}
.name-and-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 10px;
    vertical-align: middle;
}

.adobe-logo{
    height: 20px;
}

.name-adobe-logo{
    color: red;
    font-weight: 600;
    font-size: 12pt;
    
}
#box-in-header{
    border-left: 1px solid rgb(175, 175, 175);
    border-right: 1px solid rgb(175, 175, 175);
    transition: background-color 0,5s;
}
#box-in-header:hover{
    background-color: rgb(243, 243, 243);
    color: black;
}
.nav-name{
    padding: 20px 10px;
    transition: color 0,8s;
}
.nav-name:hover{
    color: rgb(0, 119, 255);
}
#ps{
    padding: 0;
}
.ps{
    font-weight: bolder;
    border-bottom: 2px solid black;
    height: 30px;
}
.lupa-icon{
    height: 20px;
}

.nav-logon-grid{
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 20px;
    padding-right: 200px;
    align-items: center;
}
.nav-logon-grid:hover{
    color: rgb(0, 119, 255);
}

.bottom-header{
    font-size: 8pt;
    display: flex;
    padding: 5px 0 15px 208px;
    column-gap: 15px;
    list-style: none;
    color: gray;
}
.adobe-ps-titulo{
    color: black;
}